<nav class="main-nav" appScroll>
  <a class="logo" routerLink="/home"> Logo </a>
  <ul>
    <li>
      <a (click)="toHome()" routerLink="/home" routerLinkActive="active">
        Home
      </a>
    </li>
    <li>
      <a
        (click)="toAppointment()"
        routerLink="/appointment"
        routerLinkActive="active"
      >
        Appointment
      </a>
    </li>
    <li>
      <a (click)="toAbout()" routerLink="/about" routerLinkActive="active">
        About</a
      >
    </li>
    <li>
      <a (click)="toPost()" routerLink="/post" routerLinkActive="active">
        Post</a
      >
    </li>
    <li>
      <a
        (click)="toFeedback()"
        routerLink="/feedback"
        routerLinkActive="active"
      >
        Feedback
      </a>
    </li>
    <li>
      <a (click)="toFAQ()" routerLink="/appointment" routerLinkActive="active">
        FAQ
      </a>
    </li>
    <li>
      <a
        (click)="toContact()"
        routerLink="/appointment"
        routerLinkActive="active"
      >
        Contact</a
      >
    </li>
  </ul>
</nav>
