<!-- <div class="w-screen mt-0">
  <p-menubar [model]="items" [style]="{ width: '99vw' }">
    <ng-template pTemplate="start">
      <img
        src="https://primefaces.org/cdn/primeng/images/primeng.svg"
        height="40"
        class="mr-2"
      />
    </ng-template>
    <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search" />
    </ng-template>
  </p-menubar>
</div> -->
<!-- <a href="#" class="logo"> <img src="./assets/images/logo.png" /></a>
routerLinkActive="active"-->
<nav class="main-nav">
  <ul>
    <li>
      <a (click)="toHome()" routerLink="/home" routerLinkActive="active">
        Home
      </a>
    </li>
    <li>
      <a
        (click)="toAppointment()"
        routerLink="/appointment"
        routerLinkActive="active"
      >
        Appointment
      </a>
    </li>
    <li>
      <a (click)="toAbout()" routerLink="/about" routerLinkActive="active">
        About</a
      >
    </li>
    <li>
      <a (click)="toPost()" routerLink="/post" routerLinkActive="active">
        Post</a
      >
    </li>
    <li>
      <a
        (click)="toFeedback()"
        routerLink="/feedback"
        routerLinkActive="active"
      >
        Feedback
      </a>
    </li>
    <li>
      <a (click)="toFAQ()" routerLink="/appointment" routerLinkActive="active">
        FAQ
      </a>
    </li>
    <li>
      <a
        (click)="toContact()"
        routerLink="/appointment"
        routerLinkActive="active"
      >
        Contact</a
      >
    </li>
  </ul>
</nav>
