<!-- <div class="w-screen mt-0">
  <p-menubar [model]="items" [style]="{ width: '99vw' }">
    <ng-template pTemplate="start">
      <img
        src="https://primefaces.org/cdn/primeng/images/primeng.svg"
        height="40"
        class="mr-2"
      />
    </ng-template>
    <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search" />
    </ng-template>
  </p-menubar>
</div> -->
<!-- <a href="#" class="logo"> <img src="./assets/images/logo.png" /></a> -->
<nav class="main-nav">
  <ul>
    <li><a href="#home"> Home </a></li>
    <li><a href="#appointment"> Appointment </a></li>
    <li><a href="#about"> About</a></li>
    <li><a href="#post"> Post</a></li>
    <li><a href="#feedback"> Feedback </a></li>
    <li><a href="#faq"> FAQ </a></li>
    <li><a href="#contact"> Contact</a></li>
  </ul>
</nav>
