<header id="header">
  <div class="container mt-0">
    <app-header-menu></app-header-menu>
  </div>
</header>
<section class="banner" id="home">
  <app-home></app-home>
</section>
<section class="section" id="appointment">
  <app-appointment></app-appointment>
</section>
<section class="section" id="about">
  <app-about></app-about>
</section>
<section class="section" id="post">
  <app-post></app-post>
</section>
<section class="section" id="feedback">
  <app-feedback></app-feedback>
</section>
<section class="section" id="faq">
  <app-faq></app-faq>
</section>
<section class="section" id="contact">
  <app-contact></app-contact>
</section>
