<div class="grid">
  <div class="col-6">
    <p-card>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15711.86447835303!2d78.8042717!3d10.10185905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1677085655678!5m2!1sen!2sin"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </p-card>
  </div>
  <div class="col-6"></div>
</div>

<div>
  <span>ADDRESS</span>
  <span>WORK HOURS</span>
  <span></span>
</div>
