<div class="container">
  <h1>Contact Us</h1>
  <p>
    XYZ Company Limited was established in April 2017 by the co-activity of
    Medical Second Opinion Company, from the USA and Black Eye Consulting from
    Malaysia are managing different sorts of wellbeing administrations 24 hours
    since it was set up.
  </p>

  <p>
    XYZ Healthcare benefit is for the most part go for each phase of Myanmar
    individuals the individuals who live in different spots to be served in
    sheltered and simple and viably.
  </p>
  <p>
    XYZ Company Limited was established in April 2017 by the co-activity of
    Medical Second Opinion Company, from the USA and Black Eye Consulting from
    Malaysia are managing different sorts of wellbeing administrations 24 hours
    since it was set up.
  </p>

  <p>
    XYZ Healthcare benefit is for the most part go for each phase of Myanmar
    individuals the individuals who live in different spots to be served in
    sheltered and simple and viably.
  </p>
</div>
