<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="icon"
            ><button
              pButton
              pRipple
              type="button"
              icon="pi pi-apple"
              class="p-button-rounded p-button-text"
            ></button>
          </span>
          <span class="title mt-3">Brand Name</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"
            ><button
              pButton
              pRipple
              type="button"
              icon="pi pi-chart-bar"
              class="p-button-rounded p-button-text"
            ></button>
          </span>
          <span class="title mt-3">Dashborad</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"
            ><button
              pButton
              pRipple
              type="button"
              icon="pi pi-user"
              class="p-button-rounded p-button-text"
            ></button
          ></span>
          <span class="title mt-3">Patients</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"
            ><button
              pButton
              pRipple
              type="button"
              icon="pi pi-calendar"
              class="p-button-rounded p-button-text"
            ></button
          ></span>
          <span class="title mt-3">Events</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"
            ><button
              pButton
              pRipple
              type="button"
              icon="pi pi-comment"
              class="p-button-rounded p-button-text"
            ></button
          ></span>
          <span class="title mt-3">Feedbacks</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"
            ><button
              pButton
              pRipple
              type="button"
              icon="pi pi-sign-out
              "
              class="p-button-rounded p-button-text"
            ></button
          ></span>
          <span class="title mt-3">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
