<p-table
  #dt
  [value]="customers"
  [(selection)]="selectedCustomers"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0"
  [globalFilterFields]="[
    'name',
    'country.name',
    'representative.name',
    'status'
  ]"
>
  <ng-template pTemplate="header">
    <tr>
      <!-- <th style="width: 3rem"></th> -->
      <th [style]="{ color: '#ffa726' }" pSortableColumn="system">
        SystemID <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th [style]="{ color: '#ff6384' }" pSortableColumn="date">
        Date&Time <p-sortIcon field="country.name"></p-sortIcon>
      </th>
      <th [style]="{ color: '#42a5f5' }" pSortableColumn="answer1">
        ForWhom <p-sortIcon field="representative.name"></p-sortIcon>
      </th>
      <th [style]="{ color: '#42a5f5' }" pSortableColumn="answer2">
        Best In <p-sortIcon field="date"></p-sortIcon>
      </th>
      <th [style]="{ color: '#42a5f5' }" pSortableColumn="answer3">
        Rating <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th [style]="{ color: '#42a5f5' }" pSortableColumn="answer4">
        Polite <p-sortIcon field="activity"></p-sortIcon>
      </th>
      <th [style]="{ color: '#42a5f5' }" pSortableColumn="answer5">
        FeelEase <p-sortIcon field="activity"></p-sortIcon>
      </th>
      <th [style]="{ color: '#42a5f5' }" pSortableColumn="answer6">
        Listening <p-sortIcon field="activity"></p-sortIcon>
      </th>
      <th [style]="{ color: '#42a5f5' }" pSortableColumn="answer7">
        Assessing <p-sortIcon field="activity"></p-sortIcon>
      </th>
      <th [style]="{ color: '#42a5f5' }" pSortableColumn="answer8">
        Explaining <p-sortIcon field="activity"></p-sortIcon>
      </th>
      <th [style]="{ color: '#42a5f5' }" pSortableColumn="answer9">
        Involving <p-sortIcon field="activity"></p-sortIcon>
      </th>
      <!-- <th style="width: 8rem"></th> -->
    </tr>
    <tr>
      <!-- <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th> -->
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target, 'name', 'startsWith')"
          placeholder="Search system"
          class="p-column-filter"
          [style]="{ color: '#42a5f5' }"
        />
      </th>
      <th>
        <p-calendar
          (onSelect)="onDateSelect($event)"
          (onClearClick)="dt.filter('', 'date', 'equals')"
          [showButtonBar]="true"
          styleClass="p-column-filter"
          placeholder="Serach by Date"
          [readonlyInput]="true"
          dateFormat="yy-mm-dd"
          [style]="{ color: '#42a5f5' }"
        ></p-calendar>
      </th>
      <th>
        <p-multiSelect
          [options]="answerSet1"
          placeholder="All"
          (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter"
          optionLabel="name"
          [style]="{ color: '#42a5f5' }"
        >
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{ option }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-multiSelect
          [options]="answerSet2"
          placeholder="All"
          (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter"
          [style]="{ color: '#42a5f5' }"
        >
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{ option }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-multiSelect
          [options]="answerSet3"
          placeholder="All"
          (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter"
          optionLabel="name"
          [style]="{ color: '#42a5f5' }"
        >
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{ option }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-multiSelect
          [options]="answerSet4"
          placeholder="All"
          (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter"
          optionLabel="name"
          [style]="{ color: '#42a5f5' }"
        >
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{ option }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-multiSelect
          [options]="answerSet4"
          placeholder="All"
          (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter"
          optionLabel="name"
          [style]="{ color: '#42a5f5' }"
        >
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{ option }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-multiSelect
          [options]="answerSet4"
          placeholder="All"
          (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter"
          optionLabel="name"
          [style]="{ color: '#42a5f5' }"
        >
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{ option }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-multiSelect
          [options]="answerSet4"
          placeholder="All"
          (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter"
          optionLabel="name"
          [style]="{ color: '#42a5f5' }"
        >
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{ option }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-multiSelect
          [options]="answerSet4"
          placeholder="All"
          (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter"
          optionLabel="name"
          [style]="{ color: '#42a5f5' }"
        >
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{ option }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-multiSelect
          [options]="answerSet4"
          placeholder="All"
          (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter"
          optionLabel="name"
          [style]="{ color: '#42a5f5' }"
        >
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{ option }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <!-- <th></th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr class="p-selectable-row">
      <!-- <td>
        <p-tableCheckbox [value]="customer"></p-tableCheckbox>
      </td> -->
      <td class="systemIDField">
        <span class="p-column-title">SystemID</span>
        <span [style]="{ color: '#ffa726' }"> {{ customer.system }}</span>
      </td>
      <td>
        <span class="p-column-title">Date</span>
        <span [style]="{ color: '#ff6384' }"> {{ customer.date }}</span>
      </td>
      <td>
        <span class="p-column-title">Representative</span>
        <span [style]="{ color: '#42a5f5' }">{{ customer.answer1 }}</span>
      </td>
      <td>
        <span class="p-column-title">Country</span>
        <span [style]="{ color: '#42a5f5' }">{{ customer.answer2 }}</span>
      </td>
      <td>
        <span class="p-column-title">Status</span>
        <p-rating [ngModel]="5"></p-rating>
      </td>
      <td>
        <span class="p-column-title">Activity</span>
        <span [style]="{ color: '#42a5f5' }">{{ customer.answer4 }}</span>
      </td>
      <td>
        <span class="p-column-title">Status</span>
        <span [style]="{ color: '#42a5f5' }">{{ customer.answer5 }}</span>
      </td>
      <td>
        <span class="p-column-title">Status</span>
        <span [style]="{ color: '#42a5f5' }">{{ customer.answer6 }}</span>
      </td>
      <td>
        <span class="p-column-title">Status</span>
        <span [style]="{ color: '#42a5f5' }">{{ customer.answer7 }}</span>
      </td>
      <td>
        <span class="p-column-title">Status</span>
        <span [style]="{ color: '#42a5f5' }">{{ customer.answer8 }}</span>
      </td>
      <td>
        <span class="p-column-title">Status</span>
        <span [style]="{ color: '#42a5f5' }">{{ customer.answer9 }}</span>
      </td>
      <!-- <td style="text-align: center">
        <button
          pButton
          type="button"
          class="p-button-secondary"
          icon="pi pi-cog"
        ></button>
      </td> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No customers found.</td>
    </tr>
  </ng-template>
</p-table>
