<div class="container">
  <h1 style="margin-top: 25px">
    {{ title }}
  </h1>

  <div class="row" style="margin-top: 25px">
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="productName"
        placeholder="Name"
      />
    </div>

    <div class="col-md-3">
      <button
        type="button"
        (click)="CreateRecord()"
        [disabled]="!productName"
        class="btn btn-primary"
      >
        + Create Product
      </button>
    </div>
  </div>
  <div class="row" style="margin-top: 25px">
    <div class="col-md-3">
      <div class="card" style="width: 18rem" *ngFor="let item of products">
        <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
          <h5 class="card-title">{{ item.Name["Name"] }}</h5>
          <a href="#" class="card-link" (click)="EditRecord(item)">Edit</a>
          <a href="#" class="card-link" (click)="RemoveRecord(item.id)"
            >Delete</a
          >
        </div>
        <ng-template #elseBlock>
          <div class="card-body">
            <h5 class="card-title">Edit</h5>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.EditName.Name"
                    placeholder="Edit Name"
                  />
                </div>
              </div>
            </div>

            <a href="#" class="card-link" (click)="item.isEdit = false"
              >Cancel</a
            >
            <a href="#" class="card-link" (click)="UpdateRecord(item)"
              >Update</a
            >
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
