<!-- <app-add-edit-feedback></app-add-edit-feedback> -->
<!-- <app-option-form></app-option-form> -->
<div [formGroup]="feedBackForm" (ngSubmit)="onSubmit()">
  <p-card styleClass="p-shadow-12">
    <div class="grid">
      <div class="col-12 text-blue-500 font-bold">
        <span>
          {{ feedbackText.questions.question1.label }}
        </span>
        <span class="text-red-500 font-bold">*</span>
      </div>

      <div class="col-12">
        <p-radioButton
          *ngFor="let option of feedbackText.optionSet1"
          name="ques1Control"
          [inputId]="option.label"
          [value]="option"
          [formControlName]="'ques1Control'"
          [label]="option.label"
          class="mr-2"
        ></p-radioButton>
      </div>
      <div class="col-12 text-blue-500 font-bold">
        <span>
          {{ feedbackText.questions.question2.label }}
        </span>
        <span class="text-red-500 font-bold">*</span>
      </div>
      <div class="col-12">
        <p-radioButton
          *ngFor="let option of feedbackText.optionSet2"
          name="ques2Control"
          [inputId]="option.label"
          [value]="option"
          [formControlName]="'ques2Control'"
          [label]="option.label"
          class="mr-2"
        ></p-radioButton>
      </div>
      <div class="col-12 text-blue-500 font-bold">
        <span>
          {{ feedbackText.questions.question3.label }}
        </span>
        <span class="text-red-500 font-bold">*</span>
      </div>
      <div class="col-12">
        <p-radioButton
          *ngFor="let option of feedbackText.optionSet3"
          name="ques3Control"
          [inputId]="option.label"
          [value]="option"
          [formControlName]="'ques3Control'"
          [label]="option.label"
          class="mr-2"
        ></p-radioButton>
      </div>
      <div class="col-12 text-blue-500 font-bold">
        <span>
          {{ feedbackText.questions.question4.label }}
        </span>
        <span class="text-red-500 font-bold">*</span>
      </div>
      <div class="col-4 text-blue-500 font-bold">
        {{ feedbackText.questions.question5.label }}
      </div>
      <div class="col-8">
        <p-radioButton
          *ngFor="let option of feedbackText.optionSet4"
          name="ques5Control"
          [inputId]="option.label"
          [value]="option"
          [formControlName]="'ques5Control'"
          [label]="option.label"
          class="mr-2"
        ></p-radioButton>
      </div>
      <div class="col-4 text-blue-500 font-bold">
        {{ feedbackText.questions.question6.label }}
      </div>
      <div class="col-8">
        <p-radioButton
          *ngFor="let option of feedbackText.optionSet4"
          name="ques6Control"
          [inputId]="option.label"
          [value]="option"
          [formControlName]="'ques6Control'"
          [label]="option.label"
          class="mr-2"
        ></p-radioButton>
      </div>
      <div class="col-4 text-blue-500 font-bold">
        {{ feedbackText.questions.question7.label }}
      </div>
      <div class="col-8">
        <p-radioButton
          *ngFor="let option of feedbackText.optionSet4"
          name="ques7Control"
          [inputId]="option.label"
          [value]="option"
          [formControlName]="'ques7Control'"
          [label]="option.label"
          class="mr-2"
        ></p-radioButton>
      </div>
      <div class="col-4 text-blue-500 font-bold">
        {{ feedbackText.questions.question8.label }}
      </div>
      <div class="col-8">
        <p-radioButton
          *ngFor="let option of feedbackText.optionSet4"
          name="ques8Control"
          [inputId]="option.label"
          [value]="option"
          [formControlName]="'ques8Control'"
          [label]="option.label"
          class="mr-2"
        ></p-radioButton>
      </div>
      <div class="col-4 text-blue-500 font-bold">
        {{ feedbackText.questions.question9.label }}
      </div>
      <div class="col-8">
        <p-radioButton
          *ngFor="let option of feedbackText.optionSet4"
          name="ques9Control"
          [inputId]="option.label"
          [value]="option"
          [formControlName]="'ques9Control'"
          [label]="option.label"
          class="mr-2"
        ></p-radioButton>
      </div>
      <div class="col-4 text-blue-500 font-bold">
        {{ feedbackText.questions.question10.label }}
      </div>
      <div class="col-8">
        <p-radioButton
          *ngFor="let option of feedbackText.optionSet4"
          name="ques10Control"
          [inputId]="option.label"
          [value]="option"
          [formControlName]="'ques10Control'"
          [label]="option.label"
          class="mr-2"
        ></p-radioButton>
      </div>
      <!-- <div class="grid">
        <div class="col">
          {{ feedbackText.questions.question9.label }}
        </div>
        <div class="flex align-items-center justify-content-center">
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="commands"
          ></textarea>
        </div>
      </div> -->
      <div class="flex justify-content-end flex-wrap mt-3 w-11">
        <div class="flex align-items-center justify-content-center">
          <p-button
            label="Submit"
            type="submit"
            class="mr-3"
            icon="pi pi-check"
            (onClick)="onSubmit()"
          ></p-button>
        </div>
        <div class="flex align-items-center justify-content-center">
          <p-button
            label="Clear"
            type="submit"
            class="mr-3"
            icon="pi pi-times"
            (onClick)="onClear()"
          ></p-button>
        </div>
      </div>
    </div>
  </p-card>
</div>

<p-toast position="bottom-right"></p-toast>
