<<!DOCTYPE html>
<html>
  <head>
    <title> Home </title>
    <link rel="stylesheet" type="text/css" href="./home.component.css">
  </head>
  <body>
    <header id="header">
      <div class="container">
        <a href="#" class="logo"> <img src="./assets/images/logo.png"></a>
        <nav class="main-nav">
          <ul>
            <li><a href="#home"> Home </a></li>
            <li><a href="#about"> About</a></li>
            <li><a href="#service"> Service</a></li>
            <li><a href="#contact"> Contact </a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="banner" id="home">
      <img src="./assets/images/black.jpg">

    </section>
    <script type="text/javascript">
      window.addEventListener("scroll",function()
      {
        var header=document.querySelector("header");
        header.classList.toggle("sticky",window.scrollY>0);
      })
    </script>
    <section class="about-section" id="about">
      <div class="container">
        <h1>About Us</h1>
        <p>XYZ Company Limited was established in April 2017 by the co-activity of
          Medical Second Opinion Company, from the USA and Black Eye Consulting
          from Malaysia are managing different sorts of wellbeing administrations
           24 hours since it was set up.</p>

       <p>XYZ Healthcare benefit is for the most part go for
          each phase of Myanmar individuals the individuals who live
          in different spots to be served in sheltered and simple and viably. </p>
          <p>XYZ Company Limited was established in April 2017 by the co-activity of
            Medical Second Opinion Company, from the USA and Black Eye Consulting
            from Malaysia are managing different sorts of wellbeing administrations
             24 hours since it was set up.</p>

         <p>XYZ Healthcare benefit is for the most part go for
            each phase of Myanmar individuals the individuals who live
            in different spots to be served in sheltered and simple and viably. </p>
      </div>
    </section>
    <section class="service-section" id="service">
      <div class="container">
        <h1>Our Services</h1>
        <p>XYZ Company Limited was established in April 2017 by the co-activity of
          Medical Second Opinion Company, from the USA and Black Eye Consulting
          from Malaysia are managing different sorts of wellbeing administrations
           24 hours since it was set up.</p>

       <p>XYZ Healthcare benefit is for the most part go for
          each phase of Myanmar individuals the individuals who live
          in different spots to be served in sheltered and simple and viably. </p>
          <p>XYZ Company Limited was established in April 2017 by the co-activity of
            Medical Second Opinion Company, from the USA and Black Eye Consulting
            from Malaysia are managing different sorts of wellbeing administrations
             24 hours since it was set up.</p>

         <p>XYZ Healthcare benefit is for the most part go for
            each phase of Myanmar individuals the individuals who live
            in different spots to be served in sheltered and simple and viably. </p>
      </div>
    </section>
    <section class="contact-section" id="contact">
      <div class="container">
        <h1>Contact Us</h1>
        <p>XYZ Company Limited was established in April 2017 by the co-activity of
          Medical Second Opinion Company, from the USA and Black Eye Consulting
          from Malaysia are managing different sorts of wellbeing administrations
           24 hours since it was set up.</p>

       <p>XYZ Healthcare benefit is for the most part go for
          each phase of Myanmar individuals the individuals who live
          in different spots to be served in sheltered and simple and viably. </p>
          <p>XYZ Company Limited was established in April 2017 by the co-activity of
            Medical Second Opinion Company, from the USA and Black Eye Consulting
            from Malaysia are managing different sorts of wellbeing administrations
             24 hours since it was set up.</p>

         <p>XYZ Healthcare benefit is for the most part go for
            each phase of Myanmar individuals the individuals who live
            in different spots to be served in sheltered and simple and viably. </p>
      </div>
    </section>
   </body>

</html>

